<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562663431511-oub0524m2dn0627k9bimt9gvc87535n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562663431511-oub0524m2dn0627k9bimt9gvc87535n6</string>
	<key>API_KEY</key>
	<string>AIzaSyAO8gEw4bJm9uqHf8JmMl8JFYUPIh2NvSw</string>
	<key>GCM_SENDER_ID</key>
	<string>562663431511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yerpude.Mixer</string>
	<key>PROJECT_ID</key>
	<string>connect-d1bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-d1bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562663431511:ios:5e35ea7dc2a95fe119b212</string>
	<key>DATABASE_URL</key>
	<string>https://connect-d1bd9.firebaseio.com</string>
</dict>
</plist>